*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho{
    width: 100vw;
    height: 100vh;
    background-color: black;
    
}

.bg-video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
